@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="d-flex flex-column justify-content-center p-5" style="width:80%; margin:0 auto; background:beige">
    <div>
        <h1 class="text-danger display-5 font-weight-bold">ТП Крис конто ревизија</h1>
    </div>
    <div class="m-3">
        <div class="border border-danger" style="border-radius:5px; padding:10px">
            <h3 class="text-danger">Почетоци</h3>
            <p style="text-indent:30px">
                <b>ТП Крис Конто Ревизија</b> е основано во Октомври 2022 година со седиште во Куманово.
                Приоритетна дејност на ТП е вршење на сметководствени, книговодствени, ревизорски работи и даночно советување.
                Главна приходна шифра:69.20
            </p>
        </div>
       
    </div>
    <div class="m-3">
        <div class="border border-danger" style="border-radius:5px; padding:10px">

        
        <h3 class="text-danger">Овновач</h3>
        <p style="text-indent:30px">
            Основач и сопственик на <b>ТП Крис Конто Ревизија</b> е  <b>Кристина Младеновска</b>.
        Таа дипломирала во 1998 на Економски факултет- Скопје, при Унивезитетот Св. Кирил и Методиј Скопје, 
        со што стекнува титула Економист од областа на Финансии и банкарство.
        Кристина како амбициозна, трудолубива личност 
        својата кариера ја започнува уште при крајот на нејзинитее студии.
            Таа остава трајни успеси извшувајќи ги своите работни активности во сметководството како овластен сметководител и во ревизијата.
        </p>
        </div>
    </div>
    <div class="m-3">
        <div class="border border-danger" style="border-radius:5px; padding:10px">
     
        <h3 class="text-danger">Цел</h3>
        <p style="text-indent:30px"><b>ТП Крис Конто Ревизија</b> има за цел квалитетно и посветено извршување на барањата и
        потребите на своите клиенти во однапред дефинирани крајни рокови.     
        </p>
        </div>
    </>
</div>