@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="d-flex flex-column justify-content-center p-5" style="width:80%; margin:0 auto; background:beige">
    <div>
        <h1 class="text-danger display-5 font-weight-bold">Контакт</h1>
    </div>
    <div class="m-3">
        <div class="border border-danger" style="border-radius:5px; padding:10px">
            <div class="mb-3">
                <table>
                    <tr>
                        <td style="width:70px">
                            Адреса:
                        </td>
                        <th>
                            Ул. Белановска Бр.50 ДОБРОШАНЕ, КУМАНОВО
                        </th>
                    </tr>
                    </table>

            </div>
            <div class="mb-3">
                <table>
                    <tr style="padding-top:30px">
                        <td style="width:70px">
                            Телефон:
                        </td>
                        <th>
                            078/396-104
                        </th>
                    </tr>
                </table>
            </div>
            <div class="mb-3">
                <table>
                    <tr>
                        <td style="width:70px">
                            Email:
                        </td>
                        <th>
                            kriskontorevizija@gmail.com
                        </th>
                    </tr>
                </table>
            </div>
          
        </div>
      
       

    </div>
    <div class="m-3">
       <iframe src="https://www.google.com/maps/search/ul.+belanovska+50+dobrosane"></iframe>
    </div>

        
</div>

   