@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <button class="btn btn-success" onclick="opent()"> Test</button>
    <script>
     function   opent()
        {
            window.open('/Home/GetReport, "_blank");
           }
    </script>
</div>
