
<div class="d-flex flex-column justify-content-center p-5" style="width:80%; margin:0 auto; background:beige">
    <div>
        <h1 class="text-danger display-5 font-weight-bold">Контакт</h1>
    </div>
    <div class="m-3">
        <div class="border border-danger" style="border-radius:5px; padding:10px">
            <div class="mb-3">
                <a href="https://drive.google.com/file/d/19xbhoDy15dhmAe8_KPuLhc7LN-8wp5hK/view?usp=share_link" target="_blank">Извештаи за транспарентност за 2022 година</a>

            </div>
            
</div>